[submodule "compile-time-regular-expressions"]
	path = src/compile-time-regular-expressions
	url = https://github.com/hanickadot/compile-time-regular-expressions.git
[submodule "src/wise_enum"]
	path = src/wise_enum
	url = https://github.com/quicknir/wise_enum.git
